
body
{	user-select: none;
	padding: 0px;
	margin: 0px; 
	background-color: #111111;
	font-family:ZZZ,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

Page_Main{
 	display: inline;
}

Page_Inter_Knot{
	display: none;
	overflow: hidden;
}

Page_Project  {
	display: none;
}

Page_Photo * {
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;
	bottom: 0;
}

Page_Photo  {
	padding: 0px;
	margin: 0px; 
	display: none;
	overflow: hidden;
}

Page_EPITAPH{
	display: none;

}


@font-face {
	font-family: ZZZ;
	src: url('./font/impact.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Bold;
	src:url('./font/印品鸿蒙体\ 超粗黑版\(非商用\)_©字体视界.ttf');
	font-weight: bold;
}

#backgroundfilter{
	/* 背景图片	background-image:url('./Headpicture.png'); */
	background-color: #111111;
	filter: blur(0.3vw);
	left: -1%;
	width: 102%;
	height: 98%;
	top:3vw;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -99;
	position: fixed;
}


#backgroundfilter_Main{
	/* 背景图片	background-image:url('./Headpicture.png'); */
	filter: blur(0.3vw);
	left: -1%;
	width: 102%;
	height: 98%;
	top:3vw;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -99;
	position: fixed;
}

.html_header{
	display: inline-block;
	padding: 0vw 2vw;
}


.html_header_a{
	padding: 0.4vw 2vw;
	font-size: 1.1vw;
	color: #787878;
	border-radius: 2vw;
	transition: all 0.5s ease ;
	text-decoration: none;
	font-family: Bold;
}

.html_header_a_main{
	padding: 0.4vw 2vw;
	font-size: 1vw;
	color: #787878;
	border-radius: 2vw;
	transition: all 0.5s ease ;
	text-decoration: none;
	font-weight: bold;
	font-size:1.2vw;
	background-color: white;
	transition: all 0.5s ease ;
 	color: black;
	 font-family: Bold;
}

.html_header_a:hover{
	font-size:1.1vw;
	background-color: white;
	transition: all 0.5s ease ;
 	color: black;
}


#main_page_a{
	font-size:1.1vw;
	background-color: white;
 	color: black;
	font-weight: bold;
}

header{
	background-color: black;
	display: flex;
	align-items: center;
	position: fixed;
	height: 3vw	;
	width:100%;
	right: 0vw;
	top: 0vw;
	justify-content:center;
	padding:0.4vw 0vw;
	z-index: 1;

}

#Headpicture{
	border-bottom-right-radius: 4vw;
	border-bottom-left-radius: 4vw;
	display: block;
	position: absolute;
	top: 3.5vw;
	width: 72vw;
	right: 14vw;
	height: auto;
	margin: auto;
	z-index: 0;
}


#background_zzz{
	position: absolute;
	left: 0%;
	top: 10vw;
	width: 56%;
	height: auto;
	z-index: -1;
}

#background_alanclub{
	position: absolute;
	right:6% ;
	top: 4vw;
	width: 9.5%;
	height: auto;
	z-index: -3;
}

#background_short_S{
	position: absolute;
	left:0% ;
	top: 68vw;
	width: 100%;
	height: auto;
	z-index: -1;
}
#background_movieband_1{
	position: absolute;
	right: 0px;
	top: 39vw;
	width: 50%;
	height: auto;
	z-index: -2;
}


#background_movieblock_1{
	position: absolute;
	left: 65%;
	top: 43.1vw;
	width: 35%;
	height: auto;
	z-index: -2;
}


#background_greenblock{
	position: absolute;
	left: -3%;
	top: 74vw;
	width: 50%;
	height: auto;
	z-index: -3;
}

#background_greenblock_middle{
	position: absolute;
	left: 31.1%;
	top: 79.5vw;
	width: 68.9%;
	height: auto;
	z-index: 0;
}


#miku_photo_block{
	position: absolute;
	left: 20.2%;
	top: 179.5vw;
	width: 79.8%;
	height: auto;	
	z-index: 0;
}

.IK_Title{
	position: absolute;
	top:2.5vw;
	left: 1vw;
	font-family: BOLD;
	font-size:2.1vw;
}

.PJ_Title{
	position: absolute;
	top:6.6vw;
	left: 1vw;
	font-family: BOLD;
	font-size:2.1vw;
}

.CL_Title{
	position: absolute;
	top:11vw;
	left: 1vw;
	font-family: BOLD;
	font-size:2.1vw;
}

.PE_Title{
	position: absolute;
	top:11.5vw;
	left: 1vw;
	font-family: BOLD;
	font-size:2.1vw;
}

#Photo_box{
	position: absolute;
	left: 20.2%;
	top: 130vw;
	width: 79.8%;
	height: 100vw; 
	mask-image: url(./images/miku_green_block_enter.png);
	mask-size:100%;
	mask-repeat: no-repeat;
	mask-position:0% 49.5vw;;
	
	
}
#Photo{
	position: relative;
	left: 0%;
	top: 21vw;
	width: 100%;
	z-index: 9999;
}

#More_block{
	position: absolute;
	left: 75%;
	top: 245vw;
	width: 25%;
	height: auto;	
	z-index: 0;
}

.PJ_main_box{
	padding: 0.3vw 0.3vw;
}




#my_information_box{
	border-radius: 0.5vw;
    background-color:rgba(36, 36, 36, 0.5);
	backdrop-filter: blur(1vw);
	height: 30vw;
    margin: 0px 0.1vw;
	overflow: hidden;
	padding: 0px 0px ;
	transition: all 0.3s ease;
	display:flex;
	flex-wrap: wrap;
	align-content:flex-start;
}

.ico_box{
	position: absolute;
	height: 2vw;
	width: 100%;
	top: 27.4vw;
	display: flex;
	justify-content: space-around;
}

.ico_box img{
	width: 1.5vw;
	height: 1.5vw;
	padding: 0.3vw 0.3vw;
	background-color: #5858585b;
	border-radius: 0.3vw;
}

.random_box{
	background-color: #5858585b;
	border: solid 0.1vw #797979;
	transition: all 0.1s ease;
	border-radius: 0.3vw;
	height: 5vw;
	width: 90%;
	left:5%;
	position: relative;
	margin-bottom: 1vw;
}

.random_box:hover{
	background-color:rgba(88, 88, 88, 0.781) ;
	transition: all 0.1s ease;
}

.ico_box img:hover{
	background-color:rgba(88, 88, 88, 0.781) ;
	transition: all 0.1s ease;
}

#my_information_box:hover{
	box-shadow: 0px 0px 0.5vw 0vw rgba(153, 153, 153, 0.5);
}


#head_page_box{
	height: 200vw;
    margin: 0px 0.6vw;
	transition: all 0.3s ease;
}

.head_page_little_box{
	border-radius: 0.5vw;
    background-color:rgba(36, 36, 36, 0.5);
	backdrop-filter: blur(1vw);
	width: 100%;
	height: auto;
    margin-bottom: 1.6vw;
	padding: 0vw 0vw ;
	transition: all 0.3s ease;
	display:flex;
	align-content:space-around;
}

.head_page_little_box:hover{
	box-shadow: 0px 0px 0.5vw 0vw rgba(153, 153, 153, 0.5);
}

.head_page_little_box img{
	width: 80%;
	position: relative;
	left: 10%;
	height: auto;
	padding: 0vw 0vw;
	margin: 1vw 0vw;
	box-shadow: 0px 0px 0.75vw 0vw rgba(126, 126, 126, 0.733);
}



.head_menu{
	width: 20%; 
	height: 2.2vw; 
	border-radius: 0.3vw; 
	margin: 0.4vw 0.2vw; 
	background-color: #5858585b;
	text-align: center;
	padding: 0 0;
	transition: all 0.1s ease;

}

.head_menu:hover{
	background-color: rgba(88, 88, 88, 0.781);
}

.head_menu h2{
	top: -0.5vw;
	position: relative;
	color: #efefef;
	font-family:'Segoe UI', Tazma, Geneva, Verdana, sans-serif;
	font-size: 1vw;

}

.head_divide_box{
	position: relative;
	width: 30px;
	height: 30px;
	background-color: rgba(239,239,239,.7)
}

footer{
	position:absolute;
	height: 13.5vw;
	width: 100%;
	right: 0px;
	top: 258.4vw;
	background-color:#171717;
}

#footer_black{
	position:absolute;
	height: 11.3vw;
	width: 100%;
	right: 0px;
	top: 2.2vw;
	background-color:#000000;
}

#footer_word {
	position: relative;
	top: 12.1vw;
	left: 38.8%;
    width: 40%;
    font-size: 1vw;
	color: #efefef;
	font-family: BOLD;
}

.Word_main{
	font-size: 2.8vw;
	position: absolute;
	top:77vw;
	left:-50%;
	color: #222122;
	font-family:Bold;
}

.Word_CL{
	font-size: 2.8vw;
	position: absolute;
	top:177vw;
	left:-50%;
	color: #222122;
	font-family:Bold;
}


.Word_MY{
	font-size: 2.8vw;
	position: absolute;
	top:122.5vw;
	left:85%;
	color: #222122;
	font-family:Bold;
	z-index: -2;
}



#enter_box{
	position: absolute;
	left: 20.2%;
	top: 79.5vw;
	width: 79.8%;
	height: auto;	
	z-index: 0;
	color: white;
	overflow: hidden; 
}

.Inter-knot-box{
	position: relative;
	left: 100%;
	top: 0vw;
	width: 100%;
	height: auto;	
	z-index: 0;
	color: white;
	overflow: hidden; 

}



.PROJECT_BOX{
	position: absolute;
	top:140vw;
	left:18%;
	width: 40%;
	height: auto;
	border-radius: 3vw;
	font-family:Bold;
	z-index: -5;

}

.Word_SHOW{
	font-size: 2.8vw;
	position: absolute;
	top:222.5vw;
	left:85%;
	color: #222122;
	font-family:Bold;
	z-index: -3;
}

.SHOW_VIDEO_BOX{
	position: absolute;
	top:240vw;
	left:18%;
	width: 40%;
	height: auto;
	border-radius: 3vw;
	color: #222122;
	font-family:Bold;
}

#IK_menu{
	position: absolute;
	width: 30vw;
	height: 3vw;
	left: 62.5vw;
	border-radius: 3vw;
	background-color: #181818;
	border: 0.25vw solid #2e302f;
	top:5vw;
	display:grid; 
	grid-template-columns: 	33.33% 33.33% 33.33%; 
	margin: auto;
}

.IK_menu_word{
	font-family: BOLD;
	color: #fefefe;
	margin: auto;
	font-style: oblique;
	
}


.WaterFall{
	position: relative;
	column-count: 5;
	column-gap: 1vw;
	top: 9vw;
	margin: 0vw 10vw;
}

.item{
	padding: 0vw 0.5vw;
}

.item div{
	display: inline-block;
	width: 100%;
	height: auto;
	margin-bottom: 1vw;
	border: 0.25vw solid #000000;
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
	border-bottom-left-radius: 1vw;
}

.item div:hover{
	border: 0.25vw solid #e9fe02;
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
	border-bottom-left-radius: 1vw;
	transition: all 0.3s ease ;
}

.Water{
	width: 100%;
	height: auto;
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
}

#Water_2{
	display: block;
	border: none;
	width: 100%;
	height: 7vw;
	border-top-left-radius: 0vw;
	border-top-right-radius: 0vw;
	border-bottom-left-radius: 1vw;
	margin: -1vw 0vw;
	margin-bottom: 0vw;
	background-color: #222222;
}

IK_title{
	font-family: BOLD;
	color:#fdfdfd;
	position: relative;
	top: 2.05vw;
	left: 1.25vw;
	font-size: 1.1vw;

}



.Photo_Box{
	width: 46vw;
	height: 33vw;
	top:-3.5vw;
	left: 27vw;
	position: relative;
	border-radius:1vw;
}

.photoes{
	width: 230vw;
	height: 100%;
	display: flex;
	left: 0%;
	position: relative;
	transition: .2s;
	list-style: none;
}

.photo{
	border-radius: 1vw;
	width: 44vw;
	height: 33vw;
	background-size: cover;
	margin-right: 1vw;
	margin-left: 1vw;
	box-shadow: 1vw 1.5vw 1vw rgba(0, 0, 0, 0.25);
}

.photo:nth-child(1){
	background-image: url("./images/Photo/sun3.jpg");
}
.photo:nth-child(2){
	background-image: url("./images/Photo/red1.jpg");
}
.photo:nth-child(3){
	background-image: url("./images/Photo/sun2.jpg");
}
.photo:nth-child(4){
	background-image: url("./images/Photo/wugong1.jpg");
}
.photo:nth-child(5){
	background-image: url("./images/Photo/yantai1.jpg");
}
.photo:nth-child(6){
	background-image: url("./images/Photo/wugong2.jpg");
}
.photo:nth-child(7){
	background-image: url("./images/Photo/zhuhai1.jpg");
}
.photo:nth-child(8){
	background-image: url("./images/Photo/beijing1.jpg");
}
.photo:nth-child(9){
	background-image: url("./images/Photo/guangzhou1.jpg");
}

.min{
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	top: 3vw;
	width:40%;
	z-index: 99;
	left: 50%;
	height: 4vw;
	transform: translateX(-50%);
}

.m{
	width: 3.5vw;
	height: 3.5vw;
	border: solid rgba(70, 70, 70, 0.9) 0.1vw;
	background-color: #fefefe;
	background-size: cover;

 }

 .m:nth-child(1){
	background-image: url("./images/Photo/sun3.jpg");
}
.m:nth-child(2){
	background-image: url("./images/Photo/red1.jpg");
}
.m:nth-child(3){
	background-image: url("./images/Photo/sun2.jpg");
}
.m:nth-child(4){
	background-image: url("./images/Photo/wugong1.jpg");
}
.m:nth-child(5){
	background-image: url("./images/Photo/yantai1.jpg");
}
.m:nth-child(6){
	background-image: url("./images/Photo/wugong2.jpg");
}
.m:nth-child(7){
	background-image: url("./images/Photo/zhuhai1.jpg");
}
.m:nth-child(8){
	background-image: url("./images/Photo/beijing1.jpg");
}
.m:nth-child(9){
	background-image: url("./images/Photo/guangzhou1.jpg");
}



 .photo_change_botton{
	width: 60%;
	height: 4vw;
	left: 20%;
	top: 3vw;
	position: absolute;
	justify-content: space-between;
	align-items:center;
	user-select: none;
	z-index: 1;
	overflow: hidden;
 }

 .button_left{
	top:0vw;
	height: 3.5vw;
	position: absolute;
 }

 .button_right{
	right: 0;
	top:0vw;
	height: 3.5vw;
	position: absolute;
	transform: scale(-1);
 }

 .button_left:hover{
	opacity: 0;
 }

 .button_right:hover{
	opacity: 0;
 }

 
 .photo_foot{
	position: absolute;
	width: 100%;
	bottom: 0vw;
	height: 10vw;
	background-color: #111111;
 }

 .PE_TV{
	position: absolute;
	margin: auto;
	width: auto;
	top:5%;
	height: 95%;
 }

 .PE_TV_BOX{
	position: absolute;
	width: 34%;
	height: 45%;
	top: 28%;
	display: flex; 
	border-radius: 0.5vw;
	justify-content:center; 
	align-items: center; 
	align-content: center; 
	overflow: hidden;
	background-color: black;

}


@keyframes left_in {
	0%   {left:-50%;}
	100% {left:16%;}
}

@keyframes right_in {
	0%   {left:85%;}
	100% {left:63%;}
}

@keyframes top_in1 {
	0%   {top:140vw;}
	100% {top:129vw;}
}

@keyframes top_in2 {
	0%   {top:240vw;}
	100% {top:229vw;}
}


@keyframes Inter_knot_box {
	0%   {left: 100%; }
	100% {left:0%;}
}


  /* 初始化动画效果，这里设置为无动画 */
  .animated-element {
	animation: none;
	transition: background-color 1s;
  }
   
  /* 滚动触发的动画类 */
  .animate {
	animation: left_in 0.75s ease;
	left: 16%;
  }

    /* 滚动触发的动画类 */
	.animate2 {
		animation: right_in 0.75s ease;
		left: 63%;
	}

	.animate_Inter_knot_box{
		animation: Inter_knot_box 0.75s ease;
		left: 0% ;
	}

  .animate_showbox1{
	animation: top_in1 0.75s ease;
	top: 129vw;
  }

  .animate_showbox2{
	animation: top_in2 0.75s ease;
	top: 229vw;
  }

  .animate3 {
	animation: Music_boom 0.5s infinite ease;
  }

  .animate_more_word{
	animation: Open_more_word 3s ease;
  }

  .animate_close_word{
	animation: Close_more_word 2s ease;
  }
  


@keyframes Faded {
	0%   {opacity: 100%; }
	100% {opacity: 0%;}
}

@keyframes unFaded {
	0%   {opacity: 0%; }
	100% {opacity: 100%;}
}


@keyframes Music_boom {
	0%   {font-size: 1.2vw; }
	10%	 {font-size: 1.1vw; }
	80% {font-size: 1.5vw; }
	100% {font-size: 1.2vw; }
}

@keyframes Open_more_word {
	0% {max-height: 30vw;}
	100% {max-height: 150vw;}
}

@keyframes Close_more_word {
	0% {max-height: 150vw;}
	100% {max-height: 30vw;}
}

